<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet"href="/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css"/>
    <link rel="stylesheet" href="/Content/app.css"/>
    <!--link rel='stylesheet' href='/Content/app.css' /-->
  </head>
  <body>
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/service">Service</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
   

   
 <div class='container-fluid mx-auto mt-5 mb-5 col-12'  style="text-align: center" >
<h2>Portfolio</h2> </div>
<p style="font-family: Itim; font-size:35px; text-align:center;">
<br>I created this personal portfolio website that includes 5 pages.</p>
<img id="portfolio" src="/Assets/images/web.png" alt="AC Logo" style="width:50%; height:50%; padding-top:5px;"class="center">





 
   <footer class="container-fluid bg-4 text-center" style="position:fixed">
  <p>All Rights Reserved @ <a href="https://www.linkedin.com/in/avsh/" target="_blank" style="color: #000080; text-decoration:none;">Aavash Chapagain</a></p> 
</footer>
   <script src="/jquery/dist/jquery.min.js"></script>
   <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
   <script src="/Scripts/app.js"></scrpit>
   </body>
</html>
